html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.invalid {
	border: 2px solid red;
}
.valid {
	border: 2px solid green;
}
.full-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.data-collection-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#country-selector {
	display: none;
}
